@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    #assistant-card {
        display: inherit;
        position: relative;
        width: 360px;
        height: 200px;
        background: #ffffff url("/static/img/card.png") no-repeat;
        border: 1px solid #e25353;
        margin-right: auto;
        margin-left: auto;
        text-align: left !important;
    }

    #assistant-card > #card-background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    #assistant-card > #qr-image {
        background-color: #000000;
        position: absolute;
        right: 0;
        top: 0;
        width: 160px;
        height: 160px;
        z-index: 50;
    }

    #assistant-card > #location {
        position: absolute;
        font-size: x-large;
        padding-top: 6px;
        padding-left: 6px;
        z-index: 10;
    }

    #assistant-card > #assitant-name {
        position: absolute;
        width: 100%;
        bottom: 30px;
        padding-left: 6px;
        z-index: 20;
    }

    #assistant-card > #registry-code {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        padding-bottom: 5px;
        z-index: 30;
    }
}