/*
*   CSS for attendance app
*
*   Copyright (C) 2014
*   Under GPL3
*
*   Authors:
*     - Carlos Joel Delgado Pizarro <cj@carlosjoel.net>
*/
body {
    background-color: #d4d4d4;
}

.pure-menu {
    /*background: #FF9933 url('/static/img/banner1.png') no-repeat fixed 0 0;*/
    background-color: #FF9933 !important;
    z-index: 99 !important;
}

.pure-menu a {
    color: white !important;
    text-shadow: #333 0 0 2px;
}

.banner {
    background: #FF9933 url('/static/img/banner1.png') no-repeat fixed 0 0;
    background-size: cover;
    /*box-shadow: #fca900 0 0 20px;*/
    text-align: center;
    height: 280px;
    width: 100%;
    margin-bottom: 30px;
    display: table;
    z-index: 1 !important;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 3em;
    color: #FFF;
    text-shadow: 1px 1px 3px #000;
}

#banner-head-label {
    font-size: 0.5em;
    font-weight: 300;
}

.content {
    position: absolute;
    width: 100%;
    text-align: center;
}

.location-column {
    height: 300px;
    margin-bottom: 10px;
}

.location {
    padding-top: 10px;
    background: #ff7f2a url('/static/img/banner1.png') no-repeat fixed 0 0;
    background-size: cover;
    box-shadow: #fca900 0 0 5px;
    color: #ffffff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 95%;
}

.location-label {
    font-size: 1.5em;
    font-weight: 300;
    /*color: rgba(255, 255, 255, 0.5);*/
}

.location-name {
    font-size: 2em;
    font-weight: 500;
    text-shadow: #333333 0 0 2px;
}

.location-address {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 10px;
}

.location-address .street {
    padding-left: 3px;
    padding-right: 3px;
}

.button-registry, .button-cancel {
    border-radius: 2px;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 180px !important;
}

.button-registry {
    background: rgb(66, 184, 221);
}

.button-cancel {
    background: rgb(221, 85, 69);
}

.alert {
    width: 80%;
    border: 1px solid;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: x-large;
    margin: auto auto 20px;
    color: #eee;
    text-shadow: #333 0 0 4px;
}

.alert.alert-success {
    background-color: #5bc172;
    border-color: #418c3b;
}

.alert.alert-info {
    background-color: #2571f2;
    border-color: #222377;
}

.alert.alert-error {
    background-color: #e2836c;
    border-color: #e25353;
}

#assistant-card {
    display: inherit;
    position: relative;
    width: 360px;
    height: 200px;
    background: #ffffff url("/static/img/card.png") no-repeat;
    border: 1px solid #e25353;
    margin-right: auto;
    margin-left: auto;
    text-align: left !important;
    box-shadow: #333 2px 2px 6px;
}

#assistant-card > #card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#assistant-card > #qr-image {
    background-color: #000000;
    position: absolute;
    right: 0;
    top: 0;
    width: 160px;
    height: 160px;
    z-index: 50;
}

#assistant-card > #location {
    position: absolute;
    text-shadow: #fff 0 0 10px;
    font-size: x-large;
    padding-top: 6px;
    padding-left: 6px;
    z-index: 10;
}

#assistant-card > #assitant-name {
    position: absolute;
    width: 100%;
    bottom: 30px;
    padding-left: 6px;
    z-index: 20;
}

#assistant-card > #registry-code {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-bottom: 5px;
    text-shadow: #ffffff 0 0 10px;
    z-index: 30;
}
