{% extends 'attendance_base.html' %}
{% block body %}
    <div class="content">
        <div class="alert alert-error">
            <strong>400</strong><br/>
            Felicitaciones, ya rompiste este sitio...<br/>
            <i class="fa fa-thumbs-down fa-4x"></i>
        </div>
    </div>
{% endblock %}