{% extends 'attendance_base.html' %}
{% block body %}
    <div class="content">
        <div class="alert alert-error">
            <strong>403</strong><br/>
            Solamente el maestro Yoda puede ver esto... <br/>
            <i class="fa fa-smile-o fa-4x"></i>
        </div>
    </div>
{% endblock %}