{% extends 'attendance_base.html' %}
{% block body %}
    <div class="content">
        <div class="alert alert-error">
            <strong>500</strong><br/>
            Necesitamos llamar al equipo de monos entrenados de Google para que nos ayuden a corregir un problema con nuestro servidor... <br/>
            <i class="fa fa-linux fa-4x"></i>
        </div>
    </div>
{% endblock %}