<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Registro de asistencia al FLISOL - Perú - 2014">

    <title>Asistencia FLISOL</title>

    <link rel="stylesheet"
          href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css"
          media="screen">
    <link rel="stylesheet" href="/static/css/animate.min.css" media="screen"/>
    <link rel="stylesheet" href="/static/css/style.css" media="screen">
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
          media="screen">
    {% block styles %}{% endblock %}
    <link rel="shortcut icon" href="/static/img/favicon.png">
</head>
<body>

<nav class="pure-menu pure-menu-open pure-menu-horizontal no-print">
    <a href="/" class="pure-menu-heading">
        <img src="/static/img/favicon.png" style="vertical-align: middle"/>

        <span class="pure-visible-desktop">
            <strong>FLISOL Perú 2014</strong>
        </span>
    </a>
    <ul>
        <li><a href="/">Sedes</a></li>
        <li><a href="/registro/verificar/">Verificar registro</a></li>
    </ul>
</nav>

{% block banner %}
    <div class="banner no-print">
        <h1 class="banner-head">
            <span id="banner-head-label">Registra tu asistencia para</span>
            <br/>
            Flisol Perú <br/> 2014
        </h1>
    </div>
{% endblock %}

{% block body %}{% endblock %}
{#<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>#}
{#<script src="/static/js/jquery.bpopup.min.js"></script>#}
{% block scripts %}{% endblock %}
</body>
</html>