{% extends 'attendance_base.html' %}
{% block body %}
    <div class="content">
        <div class="pure-g-r">
            {% for location in locations %}
                <div class="pure-u-1-4 location-column animated slideInLeft">
                    <div class="location">
                        <span class="location-label">Sede</span> <br/>
                        <span class="location-name">{{ location.name }}</span>
                        <br/><br/>

                        <div class="location-address">
                            <span class="street"><strong>{{ location.address }}</strong></span>
                            <br/><br/>
                            <span class="district">{{ location.province }} - {{ location.district }}</span>
                        </div>
                        <a href="/registro/nuevo/{{ location.id }}/"
                           class="pure-button pure-button-active button-registry">
                            <i class="fa fa-check"></i> Registrarme
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}