{% extends 'attendance_base.html' %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/print.css" media="print">
{% endblock %}
{% block body %}
    <div class="content">
        <div id="assistant-card">
            <div id="card-background">
                <img src="/static/img/card.png"/>
            </div>
            <div id="location">
                <strong>{{ registry.location.name }}</strong>
            </div>
            <div id="qr-image">
                <img src="{{ qr_code }}" alt="codigo QR"/>
            </div>
            <div id="assitant-name">
                <strong>{{ registry.person.name }} {{ registry.person.last_name }}</strong>
            </div>
            <div id="registry-code">
                <strong>{{ registry.registry_code }}</strong></div>
        </div>
        <br/>

        <div class="alert alert-info no-print">
            Imprime éste carnet y muéstralo en tu ingreso a la sede.
            <br/>
            <strong>Nota:</strong> En la impresión solamente saldrá el carnet
            que se muestra arriba.
        </div>
    </div>
{% endblock %}