{% extends 'attendance_base.html' %}
{% block banner %}{% endblock %}

{% block body %}
    <div class="content">
        <h3>Asistentes a FLISoL sede <strong>{{ location.name }}</strong></h3>
        <table class="pure-table pure-table-horizontal">
            <thead>
            <tr>
                <th>Código</th>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Correo</th>
            </tr>
            </thead>
            <tbody>
            {% for attendant in attendees %}
                <tr>
                    <th>{{ attendant.registry_code }}</th>
                    <td>{{ attendant.person.last_name }}</td>
                    <td>{{ attendant.person.name }}</td>
                    <td>{{ attendant.person.email }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}