{% extends 'attendance_base.html' %}
{% block banner %}{% endblock %}
{% block body %}
    <div class="content">
        <table class="pure-table pure-table-horizontal">
            <thead>
            <tr>
                <th>#</th>
                <th>Sede</th>
                <th>Inscritos</th>
            </tr>
            </thead>
            <tbody>
            {% for location in locations %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>
                        <a href="/sede/{{ location.id }}/">{{ location.name }}</a>
                    </td>
                <td>{{ location.get_registered_qty }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}