{% extends 'attendance_base.html' %}
{% block body %}
    <div class="content animated slideInRight">
        <div class="alert alert-info">
            Nuevo registro a <strong>{{ location.name }}</strong>
        </div>
        <form action="." method="POST" class="pure-form">
            {% csrf_token %}
            {{ registry_form.name }}
            {{ registry_form.last_name }}
            {{ registry_form.email }}<br/><br/>
            <button class="pure-button button-registry">
                <i class="fa fa-check-circle"> </i> Registrarme
            </button>
            <a href="/" class="pure-button button-cancel">
                <i class="fa fa-times-circle"></i> Cancelar
            </a>
        </form>
    </div>
{% endblock %}