{% extends 'attendance_base.html' %}
{% block body %}
    <div class="content">
        <form action="." method="GET" class="pure-form">
            <input type="text" name="reg_code" placeholder="Código de registro"
                   autofocus required/>
            <button type="submit" class="pure-button pure-button-primary">
                Verificar
            </button>
        </form>
        <br/>
        {% if registry %}
            {% if registry == 'not-found' %}
                <div class="alert alert-error animated shake">
                    <i class="fa fa-info-circle"></i>
                    Código de registro no encontrado
                </div>
            {% else %}
                <div class="alert alert-success animated bounceIn">
                    <i class="fa fa-check-circle"></i>
                    Registro <strong>{{ registry.registry_code }}</strong>
                    válido para asistencia en:
                    <strong>{{ registry.location.name }}</strong>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}